/libRack.*
/Rack
/Rack.exe
/Rack.res
/dep
/Rack.d
/Rack.dSYM
/plugins
/disabledplugins
/build
/dist
/patches
/presets
/licenses
.DS_Store
/autosave.vcv
/autosave
/settings.json
/screenshots
/Fundamental.zip