/Rack
/Rack.exe
/Rack.res
/libRack.a
/autosave.json
/settings.json
/build
*.vcv
/patches
/design
.DS_Store
*~
.emacs*
*.exp
*.lib
*.dll
*.dll.fx
*.dll.instr
*.map
*.o
*.so
*.so.fx
*.so.instr
*.a
__ATTIC
__INCOMING
dist/
