[submodule "ext/nanovg"]
	path = ext/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "ext/nanosvg"]
	path = ext/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "ext/osdialog"]
	path = ext/osdialog
	url = https://github.com/AndrewBelt/osdialog.git
[submodule "ext/oui-blendish"]
	path = ext/oui-blendish
	url = https://github.com/AndrewBelt/oui-blendish.git
