<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>Rack</string>
	<key>CFBundleDisplayName</key>
	<string>Rack</string>
	<key>CFBundleIdentifier</key>
	<string>com.vcvrack.rack</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>RACK</string>
	<key>CFBundleExecutable</key>
	<string>Rack</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleShortVersionString</key>
	<string>{VERSION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © VCV</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>YES</string>
</dict>
</plist>
