*.o
*.lo
Makefile.in
*~
*.orig
fixed
float
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
.deps
.libs
*.la
work
SpeexDSP.spec
config.h
config.log
config.status
include/speex/speexdsp_config_types.h
*.sw[lmnop]
testdenoise
testecho
testjitter
libtool
speexdsp.pc
stamp-*
patches
